:root{

    --primary:#2563EB;
    --primary-dark:#1E40AF;
    --secondary:#0EA5E9;

    --success:#22C55E;

    --background:#F8FAFC;

    --text:#1E293B;

    --white:#FFFFFF;

    --gray:#94A3B8;

    --radius:18px;

}